@-webkit-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
*:focus {
    outline: none;
}
.surface {font-size:200%;-webkit-user-select:text;font-family: "微軟正黑體", "Microsoft JhengHei", "新細明體", "PMingLiU", "細明體", "MingLiU", "標楷體", "DFKai-sb", serif;}
.surface-caret-container {position:relative;width:6px;}
.surface-inputbox {position:absolute;left:0;right:0;}
.surface-caret {position:relative;background-color:gray;height:100%;
	  -webkit-animation: fadein 0.75s ease-in alternate infinite;
}
.selected {background: #52B7FD;}
@-webkit-keyframes rainbow {
  0% {border-color: hsl(0, 100%, 50%);}
  100% {border-color: hsl(255, 100%, 50%);}
}
 
.br { white-space: pre;}
.br::after { content:"\A"}
