@-webkit-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
*:focus {
    outline: none;
}
.surface {font-size:200%;-webkit-user-select:text;font-family: "微軟正黑體", "Microsoft JhengHei", "新細明體", "PMingLiU", "細明體", "MingLiU", "標楷體", "DFKai-sb", serif;}
.surface-caret-container {position:relative;width:3px;}
.surface-inputbox {position:absolute;left:0;right:0;}
.surface-caret {position:relative;background-color:midnightblue;height:120%;
	  -webkit-animation: fadein 1.0s ease-in alternate infinite;
}
.menuopened {background:LemonChiffon;}
.selected {background: Highlight;height:120%;color:HighlightText;}
@-webkit-keyframes rainbow {
  0% {border-color: hsl(0, 100%, 50%);}
  100% {border-color: hsl(255, 100%, 50%);}
}
.surface span.remove {text-decoration: line-through; }
.surface span[data-to]::after {
 content: attr(data-to);
 text-decoration: none; 
 border-bottom: 2px solid green;
 display: inline-block;
}

.br { white-space: pre;}
.br::after { content:"\A"}



.vertical { font-size:120%; -webkit-writing-mode: vertical-rl;font-family: "DFKai-SB";}
.wh {
	font-size:150%;
	letter-spacing:0.33em;
	font-family:"ShuoWen";
}

.warichu {
    display: inline-table;
    vertical-align: top;
    font-family:"微體正黑體";
}
.warichu-left, .warichu-right {
 font-size:50%;
 letter-spacing:1em;
 display: table-row;
}